<h1>Thêm</h1>
<p>
<%= msg %>
</p>
<form action="" method="post">
    <input type="text" name="ten_sach" placeholder="Tên sách"> <br>
    <input type="number" name="nam_xb" placeholder="Năm xuất bản"> <br>
    <button type="submit">Thêm</button>
</form>